@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

/* Add a dark overlay */
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

body * {
  z-index: 1;
}

h1 {
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 10px;
}

.year {
  font-size: 200px;
  opacity: 0;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.countGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: 100vh;
}

.countdown {
  display: flex;
  justify-content: center;
  transform: scale(2);
  width: 100%;
}

.time span {
  transform: scale(2);
  padding: 4px;
  margin-bottom: 12px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time h2 {
  margin: 0 0 5px;
}

.oneMinute {
  width: 48%;
  margin: 10px 10px;
  border-radius: 40px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fiveMinute {
  width: 48%;
  margin: 10px 10px;
  border-radius: 40px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
